<div class="row" *ngIf="Device">
  <div class="col-8">
    <div class="col-12 row">
      <div class="col-6">
        <nb-card>
          <nb-card-header>Generador</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="table-responsive">

                <table class="table table-responsive">
                  <tbody>
                  <tr>
                    <td>Frecuencia</td>
                    <td><nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.GEN_FREC/10, 70)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.GEN_FREC/10}} HZ</nb-progress-bar></td>
                  </tr>
                  <tr>
                    <td>GEN UA</td>
                    <td><nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.GEN_UA, 130)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.GEN_UA}} V</nb-progress-bar></td>
                  </tr>
                  <tr>
                    <td>GEN UB</td>
                    <td><nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.GEN_UB, 130)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.GEN_UB}} V</nb-progress-bar></td>
                  </tr>
                  <tr>
                    <td>GEN UC</td>
                    <td><nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.GEN_UC, 130)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.GEN_UC}} V</nb-progress-bar></td>
                  </tr>
                  <tr>
                    <td>GEN UAB</td>
                    <td><nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.GEN_UAB, 250)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.GEN_UAB}} V</nb-progress-bar></td>
                  </tr>
                  <tr>
                    <td>GEN UBC</td>
                    <td><nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.GEN_UBC, 250)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.GEN_UBC}} V</nb-progress-bar></td>
                  </tr>
                  <tr>
                    <td>GEN UCA</td>
                    <td><nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.GEN_UCA, 250)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.GEN_UCA}} V</nb-progress-bar></td>
                  </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-6">
        <nb-card>
        <nb-card-header>Principal</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="table-responsive">

              <table class="table table-responsive">
                <tbody>
                <tr>
                  <td>Frecuencia</td>
                  <td><nb-progress-bar style="width:100%" status="primary" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_FREC/10, 70)" [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_FREC/10}} HZ</nb-progress-bar></td>
                </tr>
                <tr>
                  <td>MAIN AU</td>
                  <td><nb-progress-bar style="width:100%" [status]="color" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_AU, 130)"   [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_AU}} V</nb-progress-bar></td>
                </tr>
                <tr>
                  <td>MAIN AB</td>
                  <td><nb-progress-bar style="width:100%" [status]="color" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_AB, 130)"   [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_AB}} V</nb-progress-bar></td>
                </tr>
                <tr>
                  <td>MAIN AC</td>
                  <td><nb-progress-bar style="width:100%" [status]="color" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_AC, 130)"   [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_AC}} V</nb-progress-bar></td>
                </tr>
                <tr>
                  <td>MAIN UAB</td>
                  <td><nb-progress-bar style="width:100%" [status]="color" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_UAB, 250)"  [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_UAB}} V</nb-progress-bar></td>
                </tr>
                <tr>
                  <td>MAIN UBC</td>
                  <td><nb-progress-bar style="width:100%" [status]="color" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_UBC, 250)"  [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_UBC}} V</nb-progress-bar></td>
                </tr>
                <tr>
                  <td>MAIN UCA</td>
                  <td><nb-progress-bar style="width:100%" [status]="color" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_UCA, 250)"  [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_UCA}} V</nb-progress-bar></td>
                </tr>
                </tbody>
              </table>

            </div>

            </div>
        </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row col-12">
      <nb-card>
        <nb-card-header>Fallas</nb-card-header>
        <nb-card-body>
            <ng-container *ngFor="let gen of Device.DEVICE_INPUT.GEN | keyvalue">
              <span *ngIf="gen.value" class="badge bg-warning">{{gen.key}}</span>
            </ng-container>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="col-4">
    <nb-card [status]="Device.STATUS?'success':'danger'">
      <nb-card-header>{{Device.STATUS?'En linea':'Desconectado'}}</nb-card-header>
      <nb-card-body>
        <nb-actions size="medium">
          <nb-action icon="power-outline" ></nb-action>
          <nb-action icon="sync-outline"></nb-action>
          <nb-action icon="person-outline"></nb-action>
          <nb-action icon="stop-outline"></nb-action>
        </nb-actions>
        <table class="table table-responsive">
          <tbody>
            <tr>
              <td><strong>Modo</strong></td>
              <td>
                <div *ngFor="let row of Device.DEVICE_INPUT.MODE | keyvalue">
                  <span *ngIf="row.value" [ngClass]="modeStatus(row.key, row.value)">{{row.key}}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td><strong>Controlador</strong></td>
              <td [innerHtml]="controllerRunningStatus(Device.DEVICE_VALUE.CONTROLLER_RUNNING_STATUS)"></td>
            </tr>
            <tr>
              <td><strong>AUTO</strong></td>
              <td [innerHtml]="ATS(Device.DEVICE_VALUE.AUTO_RUNNING_STATUS)"></td>
            </tr>
            <tr>
              <td><strong>Principal</strong></td>
              <td [innerHtml]="PRIN(Device.DEVICE_VALUE.MAIN_STATUS)"></td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Informacion</nb-card-header>
      <table class="table table-responsive">
        <thead>
        </thead>
        <tbody>
        <tr>
          <td><strong>FECHA DE DATOS</strong></td>
          <td>{{Device.DEVICE_VALUE.UPDATED | date: 'long'}}</td>
        </tr>
        <tr>
          <td><strong>ALIAS</strong></td>
          <td>{{Device.ALIAS}}</td>
        </tr>
        <tr>
          <td><strong>ID Unico</strong></td>
          <td>{{Device.IDENTIFIER}}</td>
        </tr>
        <tr>
          <td><strong>_id</strong></td>
          <td>{{Device._id}}</td>
        </tr>
        <tr>
          <td><strong>Tipo de Modulo</strong></td>
          <td>{{Device.MODULE_TYPE}}</td>
        </tr>
        <tr>
          <td><strong>Puerto</strong></td>
          <td>{{Device.MODULE_PORT}}</td>
        </tr>
        <tr>
          <td><strong>Baud</strong></td>
          <td>{{Device.MODULE_BAUD}}</td>
        </tr>


        </tbody>
      </table>
    </nb-card>
  </div>

</div>
