<div class="row">
  <div class="col-8">
    <div class="col-12 row">
      <div class="col-6">
        <nb-card>
          <nb-card-header>Generador</nb-card-header>
          <nb-card-body>
            <nb-list>
              <nb-list-item>

                <nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.GEN_FREC/10, 70)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.GEN_FREC/10}} HZ</nb-progress-bar>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-6">
        <nb-card>
        <nb-card-header>Principal</nb-card-header>
        <nb-card-body>
          <nb-list>
              <nb-list-item>
                <ul>
                  <li>Frecuencia</li>
                  <li>
                    <nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_FREC/10, 70)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_FREC/10}} HZ</nb-progress-bar>
                  </li>
                </ul>
              </nb-list-item>
              <nb-list-item>
                <nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_AB, 130)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_AB}} Volts</nb-progress-bar>
              </nb-list-item>
            <nb-list-item>
              <nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_AC, 130)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_AC}} Volts</nb-progress-bar>
            </nb-list-item>
            <nb-list-item>
              <nb-progress-bar style="width:100%" [value]="getPercent(Device!.DEVICE_VALUE!.MAIN_AU, 130)" status="primary" [displayValue]="false">{{Device!.DEVICE_VALUE!.MAIN_AU}} Volts</nb-progress-bar>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
  <div class="col-4">
    <nb-card>
      <nb-card-header>Acciones</nb-card-header>
      <nb-card-body>

      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Informacion</nb-card-header>
      <table class="table table-responsive">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let item of Device | keyvalue">
            <td><strong>{{item.key}}</strong></td>
            <td>{{item.value}}</td>
          </tr>
        </tbody>
      </table>
    </nb-card>
  </div>

</div>
