<nb-card>
    <nb-card-header><h6>Usuarios</h6></nb-card-header>
    <nb-card-body >
        <div class="row">
            <div class="col text-end">
                <button nbButton shape="round" [routerLink]="['../adminUser']"  size="small" status="primary"><i class="bi bi-person-plus m-1"></i>Agregar</button>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Dispositivo</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of usuario; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.devices}}</td>
                <td>{{item.role}}</td>
                <td>
                    <button nbButton shape="round" (click)="deleteUser(item._id)" size="medium" status="danger" class="m-1"><i class="bi bi-trash"></i></button>
                    <a [routerLink]="['/gms/adminUser/'+item._id]" nbButton shape="round" size="medium" status="info" class="m-1"><i class="bi bi-eye-fill"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
    </nb-card-body>
</nb-card>