<nb-layout>

  <nb-layout-header subheader>


    <nb-user name="Nikita Poltoratsky"
             title="full-stack developer"
             showInitials="true"
             [nbContextMenu]="items"
             nbContextMenuTag="options">
    </nb-user>

  </nb-layout-header>


  <nb-sidebar [containerFixed]=false class="menu-sidebar" tag="menu-sidebar" responsive fixed>
    
    <nb-sidebar-header>
      <div class="align-content: center">
        <img  src="assets/genset.png" style="width: 4em;"/>
      </div>
    </nb-sidebar-header>

    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
  </nb-layout-footer>
</nb-layout>
