<nb-layout>

  <nb-layout-header subheader>
    <nb-user
              [name]="user.name"
              [title]="user.email"
             showInitials="true"
             [nbContextMenu]="items"
             nbContextMenuTag="options">
    </nb-user>
  </nb-layout-header>


  <nb-sidebar [containerFixed]=false class="menu-sidebar" tag="menu-sidebar" responsive fixed>
    <div class="logo text-center">
      <img src="../../../assets/pgms.png" alt="" width="170" height="70">
    </div>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
  </nb-layout-footer>
</nb-layout>
